<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
			">

	<!-- 事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 声明式事务管理 -->
	<bean id="baseTransactionProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="doAdd*">PROPAGATION_REQUIRED</prop>
				<prop key="doInsert*">PROPAGATION_REQUIRED</prop>
				<prop key="doSave*">PROPAGATION_REQUIRED</prop>
				<prop key="doUpdate*">PROPAGATION_REQUIRED</prop>
				<prop key="doDelete*">PROPAGATION_REQUIRED</prop>
				<prop key="doEdit*">PROPAGATION_REQUIRED</prop>
				<prop key="del*">PROPAGATION_REQUIRED</prop>
				<prop key="*">readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>org.postgresql.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:postgresql://192.168.100.241:5432/datatransfer?socketTimeout=120</value>
		</property>
		<property name="username">
			<value>postgres</value>
		</property>
		<property name="password">
			<value>admin</value>
		</property>
		<!-- 连接池启动时的初始值 -->
		<property name="initialSize" value="2"></property>
		<!-- 连接池的最大值 -->
		<property name="maxActive" value="60"></property>
		<!-- 最大空间值、当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，直至减少的maxIdle为止 -->
		<property name="maxIdle" value="5"></property>
		<!-- 最小空间值，当空间的连接数少于阀值时，连接池就会预申请一些连接，以免洪峰来时 来不及申请 -->
		<property name="minIdle" value="3"></property>
		
		<property name="logAbandoned" value="true"/>
      <property name="removeAbandoned"  value="true"/>
      <property name="removeAbandonedTimeout" value="60"/>
<!--       <property name="maxWait" value="1000"/> -->
      <property name="timeBetweenEvictionRunsMillis" value="10000"/>
		
		
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>   
